In [1]:
import pandas as pd

In [2]:
file_path2 = "Data/jc_202012.csv"

jc_df = pd.read_csv(file_path2)

jc_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [3]:
jc_df["startdate"] = jc_df.starttime.str.split(expand = True)[0]
jc_df["enddate"] = jc_df.stoptime.str.split(expand = True)[0]

jc_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,2020-12-01,2020-12-01
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,2020-12-01,2020-12-01
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,2020-12-01,2020-12-01
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,2020-12-01,2020-12-01
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,2020-12-01,2020-12-01

In [4]:
jc_df.drop(inplace= True, columns = ["starttime", "stoptime"])

jc_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate
0,146,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2,2020-12-01,2020-12-01
1,572,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2,2020-12-01,2020-12-01
2,387,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1,2020-12-01,2020-12-01
3,188,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1,2020-12-01,2020-12-01
4,594,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1,2020-12-01,2020-12-01

In [5]:
jc_df.replace(inplace= True, to_replace={0: 'undisclosed', 1: 'male', 2: 'female'})

jc_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate
0,146,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,female,2020-12-01,2020-12-01
1,572,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,female,2020-12-01,2020-12-01
2,387,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,male,2020-12-01,2020-12-01
3,188,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,male,2020-12-01,2020-12-01
4,594,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,male,2020-12-01,2020-12-01

In [6]:
#jc_df.sort_values(by = 'birth year', ascending=True)

years = jc_df['birth year'].value_counts().index.tolist()
years.sort()
print(years)

[1947, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003]

In [7]:
bins = [1940, 1950, 1960, 1970, 1980, 1990, 1999, 2004]

group_labels = ["70-79", "60-69", "50-59", "40-49", "30-39", "21-29", "Under 21"]

pd.cut(jc_df["birth year"], bins, labels=group_labels).head()

0    30-39
1    21-29
2    60-69
3    21-29
4    30-39
Name: birth year, dtype: category
Categories (7, object): ['70-79' < '60-69' < '50-59' < '40-49' < '30-39' < '21-29' < 'Under 21']

In [8]:
jc_df["age"] = pd.cut(jc_df["birth year"], bins, labels=group_labels)
jc_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate,age
0,146,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,female,2020-12-01,2020-12-01,30-39
1,572,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,female,2020-12-01,2020-12-01,21-29
2,387,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,male,2020-12-01,2020-12-01,60-69
3,188,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,male,2020-12-01,2020-12-01,21-29
4,594,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,male,2020-12-01,2020-12-01,30-39

In [9]:
jc_trips = pd.DataFrame(jc_df.groupby(['startdate', 'usertype', 'gender']).agg(
    min_trip=pd.NamedAgg(column="tripduration", aggfunc="min"),
    max_trip=pd.NamedAgg(column="tripduration", aggfunc="max"),
    avg_trip=pd.NamedAgg(column="tripduration", aggfunc="mean"))).reset_index()
        
jc_trips

      startdate    usertype       gender  min_trip  max_trip     avg_trip
0    2020-12-01    Customer       female       419      4990  1183.100000
1    2020-12-01    Customer         male       206     55150  3161.923077
2    2020-12-01    Customer  undisclosed       162      3130   966.913793
3    2020-12-01  Subscriber       female        91     17454   664.261194
4    2020-12-01  Subscriber         male        79     77011   820.321937
..          ...         ...          ...       ...       ...          ...
175  2020-12-31    Customer         male       301      3208  1109.791667
176  2020-12-31    Customer  undisclosed       411    181355  6900.838710
177  2020-12-31  Subscriber       female        92      3259   706.213333
178  2020-12-31  Subscriber         male        65      2899   670.920000
179  2020-12-31  Subscriber  undisclosed       665       731   702.000000

[180 rows x 6 columns]

In [10]:
jc_trips.to_csv("Output/jc_trips.csv", encoding='utf-8', index=False)

In [11]:
sub_count = jc_df["usertype"].value_counts().to_frame().reset_index()
sub_count.rename(inplace= True, columns= {'index': 'usertype', 'usertype': 'count'})

sub_count.to_csv("Output/jc_subcount.csv", encoding='utf-8', index=False)

In [12]:
#jc_age = pd.DataFrame(jc_df.groupby('start station id').value_counts())
    #avg_age=pd.NamedAgg(column="Age", aggfunc="unique"))).reset_index()
        

#print(jc_age)

#jc_age.columns = ['start station id', 'age', 'age_count']
#jc_age

#station_age = jc_df["age"].value_counts().to_frame().reset_index()
#station_age

user_age = pd.DataFrame(jc_df.groupby("age")['usertype'].value_counts())
user_age.rename(inplace= True, columns= {'age': 'age', 'usertype': 'usertype', 'usertype': 'count'})

user_age.to_csv("Output/jc_user_age.csv", encoding='utf-8', index=True)
user_age

                     count
age      usertype
70-79    Subscriber     44
60-69    Subscriber    709
         Customer        7
50-59    Customer     1253
         Subscriber   1220
40-49    Subscriber   1523
         Customer       93
30-39    Subscriber   3764
         Customer      399
21-29    Subscriber   2049
         Customer      500
Under 21 Subscriber     95
         Customer       38

In [13]:
jc_df

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate,age
0,146,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,female,2020-12-01,2020-12-01,30-39
1,572,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,female,2020-12-01,2020-12-01,21-29
2,387,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,male,2020-12-01,2020-12-01,60-69
3,188,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,male,2020-12-01,2020-12-01,21-29
4,594,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,male,2020-12-01,2020-12-01,30-39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,undisclosed,2020-12-31,2020-12-31,50-59
11690,1519,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,undisclosed,2020-12-31,2020-12-31,50-59
11691,1761,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,male,2020-12-31,2021-01-01,21-29
11692,637,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,undisclosed,2020-12-31,2020-12-31,50-59
11693,1607,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,male,2020-12-31,2021-01-01,30-39

In [14]:
data = jc_df.copy()

stations = pd.get_dummies(data, columns=["usertype"], dtype=int)
stations

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender,startdate,enddate,age,usertype_Customer,usertype_Subscriber
0,146,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,1989,female,2020-12-01,2020-12-01,30-39,0,1
1,572,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,1997,female,2020-12-01,2020-12-01,21-29,0,1
2,387,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,1960,male,2020-12-01,2020-12-01,60-69,0,1
3,188,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,1998,male,2020-12-01,2020-12-01,21-29,0,1
4,594,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,1988,male,2020-12-01,2020-12-01,30-39,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,1969,undisclosed,2020-12-31,2020-12-31,50-59,1,0
11690,1519,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,1969,undisclosed,2020-12-31,2020-12-31,50-59,1,0
11691,1761,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,1998,male,2020-12-31,2021-01-01,21-29,1,0
11692,637,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,1969,undisclosed,2020-12-31,2020-12-31,50-59,1,0
11693,1607,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,1982,male,2020-12-31,2021-01-01,30-39,0,1

In [20]:
jc_start = stations.drop(columns=['end station id', 'end station name',
                         'end station latitude', 'end station longitude', 'bikeid', 'birth year', 'gender', 'enddate','age', 'usertype_Customer'], axis= 1)
jc_start

,tripduration,start station id,start station name,start station latitude,start station longitude,startdate,usertype_Subscriber
0,146,3202,Newport PATH,40.727224,-74.033759,2020-12-01,1
1,572,3640,Journal Square,40.733670,-74.062500,2020-12-01,1
2,387,3640,Journal Square,40.733670,-74.062500,2020-12-01,1
3,188,3186,Grove St PATH,40.719586,-74.043117,2020-12-01,1
4,594,3212,Christ Hospital,40.734786,-74.050444,2020-12-01,1
...,...,...,...,...,...,...,...
11689,1750,3199,Newport Pkwy,40.728745,-74.032108,2020-12-31,0
11690,1519,3184,Paulus Hook,40.714145,-74.033552,2020-12-31,0
11691,1761,3195,Sip Ave,40.730897,-74.063913,2020-12-31,0
11692,637,3681,Grand St,40.715178,-74.037683,2020-12-31,0
11693,1607,3267,Morris Canal,40.712419,-74.038526,2020-12-31,1

In [21]:
jc_stat_start = pd.DataFrame(jc_start.groupby(['start station id', 'usertype_Subscriber']).agg(
    avg_trip=pd.NamedAgg(column="tripduration", aggfunc="mean"),
    station_name=pd.NamedAgg(column="start station name", aggfunc="min"),
    station_lat=pd.NamedAgg(column="start station latitude", aggfunc="max"),
    station_long=pd.NamedAgg(column="start station longitude", aggfunc="max"),
    rides=pd.NamedAgg(column="startdate", aggfunc="count"))).reset_index()

jc_stat_start.rename(inplace= True, columns={"usertype_Subscriber":"subscriber"})
#subscribers=pd.NamedAgg(column="usertype_Subscriber", aggfunc="count"),


jc_stat_start

,start station id,subscriber,avg_trip,station_name,station_lat,station_long,rides
0,3184,0,1781.512821,Paulus Hook,40.714145,-74.033552,39
1,3184,1,754.143617,Paulus Hook,40.714145,-74.033552,188
2,3185,0,1468.239130,City Hall,40.717733,-74.043845,46
3,3185,1,577.035948,City Hall,40.717733,-74.043845,306
4,3186,0,2118.301587,Grove St PATH,40.719586,-74.043117,63
...,...,...,...,...,...,...,...
97,3694,1,1244.785714,Jackson Square,40.711130,-74.078900,28
98,3791,0,2236.596154,Hoboken Ave at Monmouth St,40.735208,-74.046964,52
99,3791,1,1250.173913,Hoboken Ave at Monmouth St,40.735208,-74.046964,46
100,3792,0,4077.754717,Columbus Dr at Exchange Pl,40.716870,-74.032810,53
101,3792,1,560.320690,Columbus Dr at Exchange Pl,40.716870,-74.032810,290

In [17]:
jc_stat_start.to_csv("Output/jc_stations_start.csv", encoding='utf-8', index=True)

In [18]:
jc_end = stations.drop(columns=['start station id', 'start station name', 'start station latitude', 'start station longitude', 'bikeid', 'birth year', 'gender', 'age', 'usertype_Customer'], axis= 1)
jc_end

,tripduration,end station id,end station name,end station latitude,end station longitude,startdate,enddate,usertype_Subscriber
0,146,3199,Newport Pkwy,40.728745,-74.032108,2020-12-01,2020-12-01,1
1,572,3280,Astor Place,40.719282,-74.071262,2020-12-01,2020-12-01,1
2,387,3194,McGinley Square,40.725340,-74.067622,2020-12-01,2020-12-01,1
3,188,3270,Jersey & 6th St,40.725289,-74.045572,2020-12-01,2020-12-01,1
4,594,3209,Brunswick St,40.724176,-74.050656,2020-12-01,2020-12-01,1
...,...,...,...,...,...,...,...,...
11689,1750,3199,Newport Pkwy,40.728745,-74.032108,2020-12-31,2020-12-31,0
11690,1519,3195,Sip Ave,40.730897,-74.063913,2020-12-31,2020-12-31,0
11691,1761,3270,Jersey & 6th St,40.725289,-74.045572,2020-12-31,2021-01-01,0
11692,637,3199,Newport Pkwy,40.728745,-74.032108,2020-12-31,2020-12-31,0
11693,1607,3267,Morris Canal,40.712419,-74.038526,2020-12-31,2021-01-01,1

In [23]:
jc_stat_end = pd.DataFrame(jc_end.groupby(['end station id', 'usertype_Subscriber']).agg(
    avg_trip=pd.NamedAgg(column="tripduration", aggfunc="mean"),
    station_name=pd.NamedAgg(column="end station name", aggfunc="min"),
    station_lat=pd.NamedAgg(column="end station latitude", aggfunc="max"),
    station_long=pd.NamedAgg(column="end station longitude", aggfunc="max"),
    rides=pd.NamedAgg(column="enddate", aggfunc="count"))).reset_index()

jc_stat_end.rename(inplace= True, columns={"usertype_Subscriber":"subscriber"})
#subscribers=pd.NamedAgg(column="usertype_Subscriber", aggfunc="count"),


jc_stat_end

,end station id,subscriber,avg_trip,station_name,station_lat,station_long,rides
0,127,1,1479.000000,Barrow St & Hudson St,40.731724,-74.006744,1
1,505,0,12462.000000,6 Ave & W 33 St,40.749013,-73.988484,1
2,514,1,4272.000000,12 Ave & W 40 St,40.760875,-74.002777,1
3,3184,0,1239.303030,Paulus Hook,40.714145,-74.033552,33
4,3184,1,642.763441,Paulus Hook,40.714145,-74.033552,186
...,...,...,...,...,...,...,...
104,3791,1,994.075472,Hoboken Ave at Monmouth St,40.735208,-74.046964,53
105,3792,0,4126.587302,Columbus Dr at Exchange Pl,40.716870,-74.032810,63
106,3792,1,509.438776,Columbus Dr at Exchange Pl,40.716870,-74.032810,294
107,3794,1,179318.000000,Pier 40 Dock Station,40.728660,-74.011980,1
108,4071,0,5844.000000,Broadway & W 160 St,40.835775,-73.943400,1

In [24]:
jc_stat_end.to_csv("Output/jc_stations_end.csv", encoding='utf-8', index=True)