In [1]:
import pandas as pd

In [2]:

file_path = "Data/nyc_202012.csv"

nyc_df = pd.read_csv(file_path)

nyc_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,2
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,1
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,2
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,0
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,1

In [3]:
nyc_df["startdate"] = nyc_df.starttime.str.split(expand = True)[0]
nyc_df["enddate"] = nyc_df.stoptime.str.split(expand = True)[0]

nyc_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,2,2020-12-01,2020-12-01
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,1,2020-12-01,2020-12-01
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,2,2020-12-01,2020-12-01
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,0,2020-12-01,2020-12-01
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,1,2020-12-01,2020-12-01

In [4]:
nyc_df.drop(inplace= True, columns = ["starttime", "stoptime"])

nyc_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate
0,694,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,2,2020-12-01,2020-12-01
1,4131,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,1,2020-12-01,2020-12-01
2,1368,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,2,2020-12-01,2020-12-01
3,1707,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,0,2020-12-01,2020-12-01
4,2182,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,1,2020-12-01,2020-12-01

In [5]:
nyc_df.replace(inplace= True, to_replace={0: 'undisclosed', 1: 'male', 2: 'female'})

nyc_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate
0,694,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,female,2020-12-01,2020-12-01
1,4131,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,male,2020-12-01,2020-12-01
2,1368,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,female,2020-12-01,2020-12-01
3,1707,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,undisclosed,2020-12-01,2020-12-01
4,2182,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,male,2020-12-01,2020-12-01

In [6]:
#nyc_df.sort_values(by = 'birth year', ascending=True)

years = nyc_df['birth year'].value_counts().index.tolist()
years.sort()
print(years)

[1885, 1888, 1889, 1890, 1891, 1893, 1895, 1896, 1897, 1899, 1900, 1901, 1911, 1912, 1913, 1915, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004]

In [7]:
#find oldest and youngest year
#oldest = nyc_df['birth year'].min()
#youngest = nyc_df['birth year'].max()

#bins

bins = [1885, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 1999, 2004]

group_labels = ["null", "90-94", "80-89", "70-79", "60-69", "50-59", "40-49", "30-39", "21-29", "Under 21"]

pd.cut(nyc_df["birth year"], bins, labels=group_labels).head()

0    30-39
1    30-39
2    40-49
3    30-39
4    21-29
Name: birth year, dtype: category
Categories (10, object): ['null' < '90-94' < '80-89' < '70-79' ... '40-49' < '30-39' < '21-29' < 'Under 21']

In [8]:
nyc_df["age"] = pd.cut(nyc_df["birth year"], bins, labels=group_labels)
nyc_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate,age
0,694,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,female,2020-12-01,2020-12-01,30-39
1,4131,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,male,2020-12-01,2020-12-01,30-39
2,1368,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,female,2020-12-01,2020-12-01,40-49
3,1707,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,undisclosed,2020-12-01,2020-12-01,30-39
4,2182,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,male,2020-12-01,2020-12-01,21-29

In [9]:
#nyc_df.drop(nyc_df.loc[nyc_df['age']=='null'].index, inplace=True)
#nyc_df

In [10]:
nyc_trips = pd.DataFrame(nyc_df.groupby(['startdate', 'usertype', 'gender']).agg(
    min_trip=pd.NamedAgg(column="tripduration", aggfunc="min"),
    max_trip=pd.NamedAgg(column="tripduration", aggfunc="max"),
    avg_trip=pd.NamedAgg(column="tripduration", aggfunc="mean"))).reset_index()
        
nyc_trips

      startdate    usertype       gender  min_trip  max_trip     avg_trip
0    2020-12-01    Customer       female        66   1881823  2579.001380
1    2020-12-01    Customer         male        61   1931492  1910.193297
2    2020-12-01    Customer  undisclosed        62    414233  1351.655975
3    2020-12-01  Subscriber       female        61    457200   966.232326
4    2020-12-01  Subscriber         male        61   1669088   927.196826
..          ...         ...          ...       ...       ...          ...
181  2020-12-31    Customer         male        65     79783  1340.208725
182  2020-12-31    Customer  undisclosed        61    314093  2015.345538
183  2020-12-31  Subscriber       female        61     77994   837.941546
184  2020-12-31  Subscriber         male        61    332322   806.132331
185  2020-12-31  Subscriber  undisclosed        67     12171   842.753589

[186 rows x 6 columns]

In [11]:
nyc_trips.to_csv("Output/nyc_trips.csv", encoding='utf-8', index=False)

In [12]:
sub_count = nyc_df["usertype"].value_counts().to_frame().reset_index()
sub_count.rename(inplace= True, columns= {'index': 'usertype', 'usertype': 'count'})

sub_count

sub_count.to_csv("Output/nyc_subcount.csv", encoding='utf-8', index=False)

In [13]:
user_age = pd.DataFrame(nyc_df.groupby('age')['usertype'].value_counts())
user_age.rename(inplace= True, columns= {'age': 'age', 'usertype': 'usertype', 'usertype': 'count'})

user_age.to_csv("Output/nyc_user_age.csv", encoding='utf-8', index=True)
user_age

                      count
age      usertype
null     Subscriber     593
         Customer         5
90-94    Subscriber     161
         Customer        15
80-89    Subscriber    1749
         Customer        12
70-79    Subscriber   11078
         Customer       161
60-69    Subscriber   63167
         Customer       982
50-59    Subscriber  152031
         Customer     78412
40-49    Subscriber  172654
         Customer      7705
30-39    Subscriber  295343
         Customer     29258
21-29    Subscriber  203996
         Customer     42351
Under 21 Subscriber   19837
         Customer      9409

In [14]:
nyc_df

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate,age
0,694,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,female,2020-12-01,2020-12-01,30-39
1,4131,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,male,2020-12-01,2020-12-01,30-39
2,1368,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,female,2020-12-01,2020-12-01,40-49
3,1707,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,undisclosed,2020-12-01,2020-12-01,30-39
4,2182,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,male,2020-12-01,2020-12-01,21-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088924,2045,526,E 33 St & 5 Ave,40.747659,-73.984907,3614,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,male,2020-12-31,2021-01-01,21-29
1088925,288,3307,West End Ave & W 94 St,40.794165,-73.974124,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,undisclosed,2020-12-31,2021-01-01,50-59
1088926,152,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,undisclosed,2020-12-31,2021-01-01,50-59
1088927,654,4073,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,male,2020-12-31,2021-01-01,21-29
1088928,2589,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,undisclosed,2020-12-31,2021-01-01,50-59

In [19]:
data = nyc_df.copy()

stations = pd.get_dummies(data, columns=["usertype"], dtype=int)
stations.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender,startdate,enddate,age,usertype_Customer,usertype_Subscriber
0,694,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,1988,female,2020-12-01,2020-12-01,30-39,1,0
1,4131,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,1988,male,2020-12-01,2020-12-01,30-39,0,1
2,1368,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,1977,female,2020-12-01,2020-12-01,40-49,0,1
3,1707,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,1982,undisclosed,2020-12-01,2020-12-01,30-39,0,1
4,2182,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,1997,male,2020-12-01,2020-12-01,21-29,1,0

In [20]:
nyc_start = stations.drop(columns=['end station id', 'end station name',
                         'end station latitude', 'end station longitude', 'bikeid', 'birth year', 'gender', 'enddate','age', 'usertype_Customer'], axis= 1)
nyc_start

,tripduration,start station id,start station name,start station latitude,start station longitude,startdate,usertype_Subscriber
0,694,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,2020-12-01,0
1,4131,3284,E 88 St & Park Ave,40.781411,-73.955959,2020-12-01,1
2,1368,3443,W 52 St & 6 Ave,40.761330,-73.979820,2020-12-01,1
3,1707,72,W 52 St & 11 Ave,40.767272,-73.993929,2020-12-01,1
4,2182,3165,Central Park West & W 72 St,40.775794,-73.976206,2020-12-01,0
...,...,...,...,...,...,...,...
1088924,2045,526,E 33 St & 5 Ave,40.747659,-73.984907,2020-12-31,1
1088925,288,3307,West End Ave & W 94 St,40.794165,-73.974124,2020-12-31,1
1088926,152,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,2020-12-31,0
1088927,654,4073,W 51 St & Rockefeller Plaza,40.759700,-73.978082,2020-12-31,1
1088928,2589,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,2020-12-31,0

In [21]:
#customers = nyc_start.loc[nyc_start["usertype"] == "Customer"]
#customers=pd.NamedAgg(nyc_start.loc[nyc_start["usertype"] == "Customer"].count(),
#subscribers=pd.NamedAgg(nyc_start.loc[nyc_start["usertype"] == "Subscriber"].count(),

nyc_stat_start = pd.DataFrame(nyc_start.groupby(['start station id', 'usertype_Subscriber']).agg(
    avg_trip=pd.NamedAgg(column="tripduration", aggfunc="mean"),
    station_name=pd.NamedAgg(column="start station name", aggfunc="min"),
    station_lat=pd.NamedAgg(column="start station latitude", aggfunc="max"),
    station_long=pd.NamedAgg(column="start station longitude", aggfunc="max"),
    rides=pd.NamedAgg(column="startdate", aggfunc="count"))).reset_index()


nyc_stat_start.rename(inplace= True, columns={"usertype_Subscriber":"subscriber"})
stations

nyc_stat_start

,start station id,subscriber,avg_trip,station_name,station_lat,station_long,rides
0,72,0,1234.373272,W 52 St & 11 Ave,40.767272,-73.993929,217
1,72,1,1030.315891,W 52 St & 11 Ave,40.767272,-73.993929,1032
2,79,0,1868.365672,Franklin St & W Broadway,40.719116,-74.006667,134
3,79,1,762.119772,Franklin St & W Broadway,40.719116,-74.006667,1052
4,82,0,911.200000,St James Pl & Pearl St,40.711174,-74.000165,110
...,...,...,...,...,...,...,...
2338,4310,1,303.000000,24 St & 38 Ave,40.756351,-73.936515,2
2339,4311,0,1413.600000,8 St & Astoria Blvd,40.772600,-73.932663,5
2340,4311,1,523.571429,8 St & Astoria Blvd,40.772600,-73.932663,14
2341,4328,1,1136.333333,W 167 St & St. Nicholas Ave,40.840124,-73.939490,3
2342,4332,1,318.000000,Morris Ave & E 163 St,40.827230,-73.917656,1

In [22]:
nyc_stat_start.to_csv("Output/nyc_stations_start.csv", encoding='utf-8', index=True)

In [23]:
nyc_end = stations.drop(columns=['start station id', 'start station name', 'start station latitude', 'start station longitude', 'bikeid', 'birth year', 'gender', 'age', 'usertype_Customer'], axis= 1)
nyc_end

,tripduration,end station id,end station name,end station latitude,end station longitude,startdate,enddate,usertype_Subscriber
0,694,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,2020-12-01,2020-12-01,0
1,4131,3147,E 85 St & 3 Ave,40.778012,-73.954071,2020-12-01,2020-12-01,1
2,1368,3563,28 St & 36 Ave,40.757186,-73.932719,2020-12-01,2020-12-01,1
3,1707,3336,E 97 St & Madison Ave,40.787801,-73.953559,2020-12-01,2020-12-01,1
4,2182,3952,E 141 St & Jackson Ave,40.806896,-73.911837,2020-12-01,2020-12-01,0
...,...,...,...,...,...,...,...,...
1088924,2045,3614,Crescent St & 30 Ave,40.768692,-73.924957,2020-12-31,2021-01-01,1
1088925,288,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,2020-12-31,2021-01-01,1
1088926,152,3518,Lenox Ave & W 126 St,40.808442,-73.945209,2020-12-31,2021-01-01,0
1088927,654,500,Broadway & W 51 St,40.762288,-73.983362,2020-12-31,2021-01-01,1
1088928,2589,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,2020-12-31,2021-01-01,0

In [24]:
nyc_stat_end = pd.DataFrame(nyc_end.groupby(['end station id', 'usertype_Subscriber']).agg(
    avg_trip=pd.NamedAgg(column="tripduration", aggfunc="mean"),
    station_name=pd.NamedAgg(column="end station name", aggfunc="min"),
    station_lat=pd.NamedAgg(column="end station latitude", aggfunc="max"),
    station_long=pd.NamedAgg(column="end station longitude", aggfunc="max"),
    rides=pd.NamedAgg(column="enddate", aggfunc="count"))).reset_index()

nyc_stat_end.rename(inplace= True, columns={"usertype_Subscriber":"subscriber"})
#subscribers=pd.NamedAgg(column="usertype_Subscriber", aggfunc="count"),


nyc_stat_end

,end station id,subscriber,avg_trip,station_name,station_lat,station_long,rides
0,72,0,1389.938462,W 52 St & 11 Ave,40.767272,-73.993929,195
1,72,1,885.054028,W 52 St & 11 Ave,40.767272,-73.993929,1018
2,79,0,1701.505952,Franklin St & W Broadway,40.719116,-74.006667,168
3,79,1,809.133577,Franklin St & W Broadway,40.719116,-74.006667,1093
4,82,0,4684.405063,St James Pl & Pearl St,40.711174,-74.000165,79
...,...,...,...,...,...,...,...
2350,4311,1,1289.538462,8 St & Astoria Blvd,40.772600,-73.932663,13
2351,4328,0,488.500000,W 167 St & St. Nicholas Ave,40.840124,-73.939490,2
2352,4328,1,989.000000,W 167 St & St. Nicholas Ave,40.840124,-73.939490,4
2353,4332,0,563.000000,Morris Ave & E 163 St,40.827230,-73.917656,1
2354,4332,1,669.000000,Morris Ave & E 163 St,40.827230,-73.917656,2

In [25]:
nyc_stat_end.to_csv("Output/nyc_stations_end.csv", encoding='utf-8', index=True)